{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
</head>
<body>
    <section class="grid-x ">
        <header class="cell">
            <h1 class="text-center">Welcome to My Blog</h1>
            <hr>
        </header>
    </section>

    <section class="grid-x grid-padding-x align-center">

        <div class="cell large-8">
            {% block content %}{% endblock %}
        </div>

        <div class="cell large-4">
            <h3>About Me</h3>
            <p>I am a Python developer and I like Django.</p>
            <h3>Recent Entries</h3>
            {% entry_history %}
        </div>

    </section>

</body>
</html>
